<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABRA - Home</title>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

</head>

<body>

    <header class="">

        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="">Login</a></li>
                    <li><a href="">Discover</a></li>
                    <li><a href="">About Us</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <main class="">

        {{{ body }}}

    </main> 

    <footer>
      
    </footer>

<script type="text/javascript" src="js/materialize.min.js"></script>

</body>

</html>
