<body>

    <header class="container center">

        <h1 class="">Featured Recipes</h1>

        <h2>Footer will move down as we add content</h2>

    </header>

    <div class="" id="featured-recipe">

        <img class="" src="/ABRA/public/images/loadedMashedPotatoes2.png">

        <p>Recipe Description</p>

    </div>

    <div class="" id="featured-recipe">

        <img class="" src="/ABRA/public/images/loadedMashedPotatoes2.png">

        <p>Recipe Description</p>

    </div>

<script src="js/materialize.min.js"></script>

</body>
