<body>

    <header class="">

        <h1>Body from homepage.handlebars</h1>
        <h2>Footer will move down as we add content</h2>

    </header>

<script src="js/materialize.min.js"></script>

</body>
