<body>

    <header class="container center">

        <h1 class="">Featured Recipes</h1>

    </header>

    <div class="row">

        <div class="featured-recipe-container col s10 offset-s1 z-depth-2">

            <div class="featured-recipe-image-container col s12 m8 l5 xl3">

                <img class="featured-recipe-image responsive-img z-depth-2" src="/images/loadedMashedPotatoes.png">

            </div>

            <div class="featured-recipe-text-container col s10 m10 l7 xl8 offset-s1">

                <div class="featured-recipe-text flow-text">

                    <h2>Loaded Mashed Potatoes</h2>

                    <h3>Ingredients</h3>

                    <p> 
                        4 slices bacon, or more to taste. 3 pounds potatoes, or more to taste, 
                        peeled and cut into chunks. ½ cup butter, cut into pieces. 1 (16 ounce) 
                        container sour cream. 8 ounces shredded Cheddar cheese. ½ chopped fresh 
                        chives (Optional). salt and ground black pepper to taste.
                    </p>

                    <h3>Directions</h3>

                    <p> 
                        Place bacon in a large skillet and cook over medium-high heat, turning 
                        occasionally, until crisp and browned, about 10 minutes; drain on paper towels.
                        At the same time, place potatoes into a large pot of lightly salted water 
                        and bring to a boil; reduce heat to medium-low and simmer until tender, 
                        about 20 minutes. Drain well and return potatoes to the pot.
                        Mash butter into the potatoes using a potato masher or electric hand mixer 
                        until well combined. Add sour cream and continue to mash or beat until 
                        combined. Crumble bacon into potato mixture; stir in Cheddar cheese and 
                        chives. Season with salt and pepper.
                    </p>

                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="featured-recipe-container col s10 offset-s1 z-depth-2">

            <div class="featured-recipe-image-container col s12 m8 l5 xl3">

                <img class="featured-recipe-image responsive-img z-depth-2" src="/images/newOrleansCreoleGumbo.webp">

            </div>

            <div class="featured-recipe-text-container col s10 m10 l7 xl8 offset-s1">

                <div class="featured-recipe-text flow-text">

                    <h2>New Orleans Creole Gumbo</h2>

                    <h3>Ingredients</h3>

                    <p> 
                        1 cup all-purpose flour. ¾ cup bacon drippings. 1 cup coarsely chopped celery.
                        1 large onion, coarsely chopped. 1 large green bell pepper, coarsely chopped.
                        2 cloves garlic, minced. pound andouille sausage, sliced. 3 quarts water. 
                        6 cubes beef bouillon. 1 tablespoon white sugar. salt to taste. 
                        2 tablespoons hot pepper sauce (such as Tabasco®), or to taste. 
                        ½ teaspoon Cajun seasoning blend (such as Tony Chachere's®), or to taste.
                        4 bay leaves. ½ teaspoon dried thyme leaves. 1 (14.5 ounce) can stewed tomatoes.
                        1 (6 ounce) can tomato sauce. 4 teaspoons file powder, divided. 
                        2 tablespoons bacon drippings. 2 (10 ounce) packages frozen cut okra, thawed.
                        2 tablespoons distilled white vinegar. 1 pound lump crabmeat. 
                        3 pounds uncooked medium shrimp, peeled and deveined.
                        2 tablespoons Worcestershire sauce.
                    </p>

                    <h3>Directions</h3>

                    <p> 
                        Place celery, onion, green bell pepper, and garlic into the work bowl of a 
                        food processor, and pulse until all vegetables are very finely chopped. 
                        Stir vegetables into the roux, and mix in sausage. Bring mixture to a simmer 
                        over medium-low heat, and cook until vegetables are tender, 10 to 15 minutes.
                        Remove from heat, and set aside.Combine water and beef bouillon cubes in a 
                        large Dutch oven or soup pot and bring to a boil over medium-high heat. Stir 
                        until bouillon cubes dissolve, then whisk roux mixture into the boiling water.
                        Reduce heat to a simmer, and mix in sugar, salt, hot pepper sauce, Cajun 
                        seasoning, bay leaves, thyme, stewed tomatoes, and tomato sauce. Simmer soup 
                        over low heat for 1 hour; mix in 2 teaspoons of file gumbo powder at the 
                        45-minute mark. Meanwhile, melt 2 tablespoons bacon drippings in a skillet 
                        over medium heat. Add okra and vinegar and cook for 15 minutes; remove okra 
                        with a slotted spoon, and stir into the simmering gumbo. Mix in crabmeat, 
                        shrimp, and Worcestershire sauce, and simmer until flavors have blended, 
                        45 more minutes. Stir in 2 more teaspoons of file gumbo powder just before 
                        serving.
                    </p>

                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="featured-recipe-container col s10 offset-s1 z-depth-2">

            <div class="featured-recipe-image-container col s12 m8 l5 xl3">

                <img class="featured-recipe-image responsive-img z-depth-2" src="/images/pestoPastaWithChicken.webp">

            </div>

            <div class="featured-recipe-text-container col s10 m10 l7 xl8 offset-s1">

                <div class="featured-recipe-text flow-text">

                    <h2>Pesto Pasta With Chicken</h2>

                    <h3>Ingredients</h3>

                    <p> 
                        1 (16 ounce) package bow tie pasta. 1 teaspoon olive oil. 2 cloves garlic, 
                        minced. 2 skinless, boneless chicken breasts, cut into bite-sized pieces. 
                        1 pinch crushed red pepper flakes, or to taste. ½ cup pesto sauce. 
                        ⅓ cup oil-packed sun-dried tomatoes, drained and cut into strips
                    </p>

                    <h3>Directions</h3>

                    <p> 
                        Bring a large pot of lightly salted water to a boil. Add pasta and cook 
                        until al dente, 8 to 10 minutes; drain.Heat oil in a large skillet over 
                        medium heat. Sauté garlic until tender, then stir in chicken and season 
                        with red pepper flakes. Cook until chicken is golden and cooked through.
                        Combine pasta, chicken, pesto, and sun-dried tomatoes in a large bowl; 
                        toss to coat evenly.
                    </p>

                </div>

            </div>

        </div>

    </div>

<script src="js/materialize.min.js"></script>

</body>